footer.my-md-5.pt-5.border-top
    .row
        .col-lg-8.col-md-12
            img.mb-2(src='/assets/img/microhard.png' alt='' width='120')
            small.d-block.mb-3.text-muted &copy; 2022
        .col-lg-4.col-md-12.text-end
            h5 Servizio Clienti
            ul.list-unstyled.text-small
                li.mb-0
                    a.link-secondary.text-decoration-none(href='#') +39 0547 75450
                li.mb-0
                    a.link-secondary.text-decoration-none(href='#') customerservice@microhard.it