header.pt-5.pb-0
    .d-flex.flex-column.flex-md-row.align-items-center.pb-3.mb-0.mt-4.border-bottom
        a.d-flex.align-items-center.text-dark.text-decoration-none(href='#')
            img.mb-2(src='/assets/img/microhard.png' width='220')
        nav.d-inline-flex.mt-2.mt-md-0.ms-md-auto
            a.me-3.py-2.text-dark.text-decoration-none(href='#') supporto
            a.me-3.py-2.text-dark.text-decoration-none(href='#') login
            a.btn.btn-danger(type='button' href='http://localhost/') ESCI X
